h1 {
    font-size: 65px;
    color: orange;
    font: sans-serif;
    text-decoration: underline;
    }
    
    .pul {
        background-color: orange;
        height: 55px;
        display: flex;
        align-items: center;
    }
    
    p {
        font-weight: 600;
    
    }
    
    body {
        font-size: 16px;
    }
    
    p {
        font-size: 3em;
    }
    
    .amarelo {
        background-color: yellow;
    }
    
    .marrom {   
        background-color: brown;
    }
    
    .vermelho {
        background-color: red;
    }
    